<%- include('./partials/head') %>

<body>
    <%- include('./partials/navbar') %>
  
    <main class="card bg-dark text-white">
        <div class="text-white">
            <img class="card-img" src="img/banner.jpg" style="height: 600px" alt="Imagem do card">
            <div class="card-img-overlay">
              <h1 class="card-title display-2">Viaje o mundo</h1>
              <h1 class="card-title display-2">Com a gente!</h1>
        </div>
    </main>

    
    
    <footer>
        <h1 class="text-center m-5">Nossos Destinos</h1>

            <div class=" d-flex justify-content-around ">
                
                <div class="card" style="width:400px">
                  <img class="card-img-top" src="img/alpes.jpg" alt="Card image" style="width:100%">
                  <div class="card-body">
                    <h4 class="card-title">Alpes Suíços</h4>
                    <p class="card-text">Sonha em visitar as belíssimas cordilheiras européias? Temos acomodações perfeitas para você e sua família desfrutarem dessa maravilha em gelo na Suíça.</p>
                    <a href="#" class="btn btn-primary stretched-link">CLIQUE PARA CONHECER</a>
                  </div>
                </div>

                <div class="card" style="width:400px">
                    <img class="card-img-top" src="img/tanzania.jpg" alt="Card image" style="width:100%">
                    <div class="card-body">
                      <h4 class="card-title">Tanzânia</h4>
                      <p class="card-text">Se prefere uma viagem junto da natureza e aventura, ou quer conhecer o monte Kilimanjaro, temos a solucação para você relaxar na Tanzânia. </p>
                      <a href="#" class="btn btn-primary stretched-link">CLIQUE PARA CONHECER</a>
                    </div>
                  </div>

                  <div class="card" style="width:400px">
                    <img class="card-img-top" src="img/venice.jpg" alt="Card image" style="width:100%">
                    <div class="card-body">
                      <h4 class="card-title">Venice Beach</h4>
                      <p class="card-text">Querendo conhecer a praia mais badalada de L.A? Te ajudamos a se hospedar em Venice Beach! Acomodações próximas do famoso calçadão, mas com o conforto que precisa.</p>
                      <a href="#" class="btn btn-primary stretched-link">CLIQUE PARA CONHECER</a>
                    </div>
                  </div>
                
              </div>
              
              
            </footer>
</body>
<%- include('./partials/footer') %>